<div class="row">
    <ul>
        <li class="list-item"><a target="_blank" href="/Recipe/APICuisineList">Cuisines</a></li>
        <li class="list-item"><a target="_blank" href="/Recipe/APIRecipeList">Recipes</a></li>
    </ul>
</div>